<!--
  Generated template for the ReportesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resumen </ion-title>

  </ion-navbar>
  <ion-toolbar *ngIf="page=='detalle' ||page=='detallePorCliente'">
    <ion-item>
      <ion-label>Fecha inicial</ion-label>
      <ion-datetime (ngModelChange)="cambioDeFechas($event,'fechaInicio')" displayFormat="MMM DD, YYYY" [(ngModel)]="dateStart"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Fecha final</ion-label>
      <ion-datetime (ngModelChange)="cambioDeFechas($event,'fechaFinal')" displayFormat="MMM DD, YYYY" [(ngModel)]="dateEnd"></ion-datetime>
    </ion-item>

  </ion-toolbar>

  <!--   <ion-segment [(ngModel)]="page">
    <ion-segment-button value="reportesGenerales">
      Generales
    </ion-segment-button>
    <ion-segment-button value="detalle">
      Detalles
    </ion-segment-button>
    <ion-segment-button value="detallePorCliente">
      Por clientes
    </ion-segment-button>
  </ion-segment> -->
</ion-header>
<ion-content>
  <ion-item *ngIf="page=='reportesGenerales'">
    <ion-label>Rango de fecha</ion-label>
    <ion-select interface="popover" [(ngModel)]="rangoDeFechaSeleccionado" (ionChange)="getMovementsByRange($event.fechaInicial,$event.fechaFinal)">
      <ion-option [value]="rango" *ngFor="let rango of listaFechas">{{rango.nombre}}</ion-option>
    </ion-select>
  </ion-item>


  <div [ngSwitch]="page">
    <ion-card-header>
      Totales por rango de tiempo
    </ion-card-header>
    <div style="display: block" *ngIf="totals">
      <canvas baseChart [data]="doughnutChartData" [options]="doughnutChartOptions" [labels]="doughnutChartLabels" chartType="doughnut"></canvas>
    </div>

    <div *ngSwitchCase="'reportesGenerales'" padding>
      <ion-item>
        <ion-select interface="popover" item-start (ionChange)="cambioDeChart($event)" [placeholder]="barChartDataSource">
          <ion-option>Interest Income</ion-option>
          <ion-option>Capital Income</ion-option>
          <ion-option>Capital Outcome</ion-option>

        </ion-select>
        <button clear small ion-button item-end (click)="verDetallesMes()">Ver movimientos</button>

      </ion-item>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartDataInterestIncome" [labels]="barChartLabels" [options]="barChartOptions" legend="true"
          chartType="bar" (chartClick)="chartClicked($event)"></canvas>
        <br>

      </div>



    </div>
    <div *ngSwitchCase="'detalle'">
      <ion-item-divider color="light">
        Movimientos
      </ion-item-divider>
      <ion-list>
        <div *ngFor="let movimiento of listaMovimientos">
          <button ion-item>
            <p>
              <b>Tipo:</b> {{ movimiento.tipoMovimiento}} </p>
            <p>
              <b>Interes:</b> {{movimiento.interesDelPago|currency}}</p>
            <p>
              <b>Fecha Transaccion: </b>
            </p>
            <p>
              <b>Fecha Correspondiente: </b>
            </p>
            <p>
              <b>Cliente</b>
            </p>
            <p>
              <b>Prestamo</b>
            </p>
            <div class="item-end-controlled-at-50" item-end>
              <p>
                <b>Prestado:</b> {{movimiento.montoPrestado|currency}}</p>
              <p>
                <b> Capital:</b> {{movimiento.capitalDelPago|currency}}</p>
              <p>{{movimiento.fechaTransaccion|date}}</p>
              <p>{{movimiento.fechaCorrespondiente|date}}</p>
              <p>
                {{movimiento.cliente}}
              </p>
              <p>{{movimiento.numeroPrestamo}}</p>
            </div>
          </button>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>