<!--
  Generated template for the DetallePrestamoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalle de Prestamos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openEditLoanPage()">
        <ion-icon color="light" name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="ShowconfirmDelete()">
        <ion-icon color="light" name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="todo">
    <div id="detalle">
      <ion-item-divider color="light" *ngIf="!isamortization">
        <ion-label>Prestamo:</ion-label>
        <ion-label> {{prestamo.numeroPrestamo}}</ion-label>
      </ion-item-divider>
      <ion-item-divider color="light" *ngIf="isamortization">
        <ion-label>Calculo de prestamo:</ion-label>
        <ion-label> {{prestamo.notas}}</ion-label>
      </ion-item-divider>
      <ion-card-content (click)="openEditLoanPage()">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <span>{{prestamo.cliente}}</span>
            </ion-col>
            <ion-col col-6>
              <label>Tasa:</label>
              <span class=" ">{{prestamo.tasa}}% {{prestamo.tipoTasa}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <label>Capital prestado:</label>
              <br>
              <span class=" ">{{prestamo.capitalPrestado|currency}}</span>
            </ion-col>
            <ion-col col-6>
              <label>Cantidad de cuotas:</label>
              <br>
              <span class=" ">{{prestamo.cantidadCuotas}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <label>Monto cuotas:</label>
              <br>
              <span class=" ">{{prestamo.montoCuotas|currency}}</span>
            </ion-col>
            <ion-col col-6>
              <label>Fecha apertura:</label>
              <br>
              <span class=" ">{{prestamo.fechaInicio|date}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <label>Fecha Proximo pago:</label>
              <br>
              <span class=" ">{{prestamo.fechaProximoPago|date}}</span>
              <span *ngIf="!prestamo.fechaProximoPago" class=" ">No Aplica</span>

            </ion-col>
            <ion-col col-6>
              <label>Capital pendiente:</label>
              <br>
              <span class=" ">{{prestamo.capitalPendiente|currency}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <label>Monto atraso:</label>
              <br>
              <span class=" ">{{montoAtraso|currency}}</span>
            </ion-col>
            <ion-col col-6>
              <label>Prox. Interes:</label>
              <br>
              <span class=" ">{{prestamo.capitalPendiente*(prestamo.tasa / (prestamo.tipoTasa == "Anual" ? 12 :
                1))/100|currency}}</span>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col col-6>
              <label>Estado:</label>
              <br>
              <span class=" ">{{prestamo.estado}}</span>
            </ion-col>
            <ion-col col-6>
              <label>Notas:</label>
              <br>
              <span class=" ">{{prestamo.notas}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>

    <ion-item>
      <p> Interes Pagado : {{movimientosPorPrestamo?.headerValues.totalInteresGanado|currency}}
      </p>
      <p> Capital Pagado : {{prestamo.pagadoCapital|currency}}
      </p>
    </ion-item>
    <div id="movimientos">
      <div *ngIf="!isamortization">
        <ion-item-divider color="light">
          Movimientos
        </ion-item-divider>
        <movimientos-por-prestamo [prestamo]="prestamo"></movimientos-por-prestamo>
      </div>
      <ion-item-divider color="light">
        Amortizacion
      </ion-item-divider>
      <tabla-amortizacion [prestamo]="prestamo"></tabla-amortizacion>
    </div>
  </div>
  <ion-fab right bottom #fab *ngIf="!isamortization">
    <button ion-fab color="primary" (click)="this.fabIsOpen = !this.fabIsOpen">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="abrirIsnertarMovimientos('desembolso')">
        <ion-label>Insertar Desembolso</ion-label>
        <ion-icon color="dark" name="cash"></ion-icon>
      </button>
      <button ion-fab color="secondary" (click)="abrirIsnertarMovimientos('pago')">
        <ion-label>Insertar Pago</ion-label>
        <ion-icon color="dark" name="cash"></ion-icon>
      </button>
      <button ion-fab color="light" (click)="presentPrintActionSheet()">
        <ion-label>Descargar</ion-label>
        <ion-icon name="cloud-download" color="dark"></ion-icon>
      </button>
      <!--   <button ion-fab (click)="ShowconfirmDelete()">
        <ion-label>Borrar prestamo</ion-label>
        <ion-icon color="dark" name="trash"></ion-icon>
      </button>
      <button ion-fab (click)="abrirEditarPrestamo()">
        <ion-label>Editar prestamo</ion-label>
        <ion-icon color="dark" name="create"></ion-icon>
      </button> -->
    </ion-fab-list>
  </ion-fab>
  <ion-fab right bottom #fab *ngIf="isamortization">
    <button ion-fab color="primary" (click)="presentPrintActionSheet()">
      <ion-icon name="cloud-download" color="light"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<!-- Real floating action button, fixed. It will not scroll with the content -->
<div id="ListBackdrop" *ngIf="fabIsOpen" (click)="cerrarBackDrop()"></div>