page-lista-prestamos {
   
    .atraso{
        color: red
    }
    .aTiempo{
        color:green
    }
    .item-note{
        width:55%;

    }
    .searchbar-md {
        padding: 0px;
    }
    .hidden{
        display: none
    }
    .toolbar-md {
        padding: 0px;
    }
}
