page-lista-clientes {

    .avatarIcon {
        font-size: 50px; //Preferred size here
    }
    .hidden{
        display: none
    }
    .secondaryColor{
        color:map-get($colors, secondary);
    }
    .toolbar-md {
        padding: 0px;
    }
}
