<!--
  Generated template for the DetalleClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalles de clientes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="ShowconfirmDelete()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="abrirEditarCliente()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="abrirListaDePrestamos()">
      <ion-icon name="cash" color=""></ion-icon>
    </button>
  </ion-fab>
  <div class="contactItem">
    <ion-icon color="light" name="contact" md="ios-contact"></ion-icon>
  </div>
  <h2>{{cliente.nombre}}</h2>
  <ion-card>
    <ion-item-divider color="light">Telefonos:</ion-item-divider>
    <ion-item *ngIf="cliente.telefonos?.length==0">No hay telefonos disponibles</ion-item>
    <ion-list>
      <ion-item-sliding *ngFor='let telefono of cliente.telefonos;index as i'>
        <ion-item>
          <ion-icon name="call" item-start (click)="llamarAnumero(telefono.numero)"></ion-icon>
          <p> {{telefono.tipo}}
          </p>
          <div class="item-note" *ngIf="!telefono.numero">
            <p> {{telefono}}
            </p>
          </div>
          <div class="item-note" *ngIf="telefono.numero">
            <p> {{telefono.numero}}
            </p>
          </div>
          <ion-icon name="copy" item-end (click)="copiarAlClipboard(telefono.numero)"></ion-icon>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="" (click)="copiarAlClipboard(telefono.numero)">
            <ion-icon name="copy"></ion-icon>
            Copy
          </button>
        </ion-item-options>
        <ion-item-options side="left">
          <button ion-button color="secondary" (click)="llamarAnumero(telefono.numero)">
            <ion-icon name="call"></ion-icon>
            Llamar
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <br>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-item-divider color="light">Cuentas:</ion-item-divider>
    <ion-item *ngIf="cliente.cuentas?.length==0">No hay Cuentas disponibles</ion-item>
    <ion-list>
      <ion-item-sliding *ngFor='let cuenta of cliente.cuentas;index as i'>
        <ion-item>
          <ion-icon name="share" item-start (click)="share(cuenta.banco +' '+ cuenta.numero)"></ion-icon>
          {{cuenta.banco}}:
          <div class="item-note">
            <p> {{cuenta.numero}}
            </p>
          </div>
          <ion-icon name="copy" item-end (click)="copiarAlClipboard(cuenta.numero)"></ion-icon>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="copiarAlClipboard(cuenta.numero)">
            <ion-icon name="copy"></ion-icon>
            Copy
          </button>
        </ion-item-options>
        <ion-item-options side="left">
          <button (click)="share(cuenta.banco +' '+ cuenta.numero)" ion-button color="secondary">
            Share
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-item-divider color="light">Emails:</ion-item-divider>
    <ion-item *ngIf="cliente.emails?.length==0">No hay Correos disponibles</ion-item>
    <ion-item *ngFor="let email of cliente.emails">
      <p> {{email}}
      </p>
      <ion-icon name="send" item-start (click)="sendEmail(email)"> </ion-icon>
      <ion-icon name="copy" item-end (click)="copiarAlClipboard(email)"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>